html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  background-color: lightgreen;
  height: 50px; }

body {
  margin: 0 auto;
  background-color: darkred; }

div {
  background-color: yellow; }
