html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  background-color: #84bf92;
  height: 50px; }

body {
  margin: 0 auto;
  background-image: url("../img/tranq.jpg");
  background-repeat: none;
  background-size: 100%;
  color: lightgray;
  text-align: center; }

.aboutPractice,
.philContainer,
aboutMe {
  width: 40%;
  position: right; }
