@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

header {
	background-color: lightgreen;
	height: 50px;
}
body {
	margin: 0 auto;
	background-color: darkred;
}
div {
	background-color: yellow;
}