@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

header {
	background-color: rgba(132, 191, 146, 1);
	height: 50px;
}
body {
	margin: 0 auto;
	//background-color: rgba(177, 177, 177, 1);
	background-image: url("../img/tranq.jpg");
	background-repeat: none;
	background-size: 100%;
	color: lightgray;
	text-align: center;
}
.aboutPractice,
.philContainer,
aboutMe {
	//background-color: rgba(175, 255, 195, 1);
	width: 40%;
	position: right;
}
.aboutMe {
	text-align: left;
}